body, input, button, textarea {
  font-family: 'Roboto', 'sans-serif';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button { outline: none; }

ul { list-style-type: none; }

.container {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1018px) {
  .container {
    width: 850px;
  }
}

@media screen and (max-width: 866px) {
  .container {
    width: 100%;
  }
}