@import './vars/colors';

body {
  background: #f6f6f6;
}

// Hide img alt attribute
img {
  text-indent: -9999px;
}

input {
  border: 1px solid #d1d5da;
  border-radius: 3px;
  color: $color-dark;
  line-height: 20px;
  padding: 6px 8px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);

  &:focus {
    border-color: #2188ff;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075), 0 0 0 0.2em rgba(3, 102, 214, 0.3);
  }
}

button {
  border: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

button.link {
  border: none;
  color: $color-blue;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-rows: 65px 1fr;
  min-height: 100vh;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}
