@import '../vars/colors';
@import '../components/form.scss';
@import '../elements/button-primary.scss';

$form-width: 350px;

section.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form {
  width: $form-width;
  display: flex;
  border: 1px solid #d1d5da;
  border-radius: 4px;
}

.auth-form > div {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth-switch {
  width: $form-width;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}