@import '~/assets/scss/vars/_colors';

.comment-component-owner {
  .user-info {
    display: flex;
  }

  .user-comment {
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    &__text {
      line-height: 1.4;
      padding: 10px;
      border-bottom: 1px solid #e7e8ec;
    }

    &__date {
      margin-top: 4px;
    }
  }
}

.comment-component {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #e7e8ec;
  font-size: 14px;
  flex-direction: column;

  &:hover .comment-like__section {
    opacity: 1;
  }

  &:last-child {
    border-bottom: 0;
  }

  .comment-delete {
    opacity: 0;
  }

  &:hover {
    .comment-delete {
      opacity: 1;
    }
  }

  .comment-component {
    margin-top: 10px;
    border-top: 1px solid#eee;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 0;
  }

  .comment-text {
    color: #292929;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .user-avatar {
    flex-basis: 40px;
    height: 40px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;

    > img {
      margin-right: 10px;
    }

    > .comment-body {
      width: 100%;
    }

    &-username {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;

      a:hover {
        text-decoration: underline;
      }
    }

    &-date {
      color: #939393;
      font-size: 12px;
      font-weight: 400;
    }

    .comment-action {
      display: flex;
      justify-content: space-between;

      &__answer {
        cursor: pointer;
        margin-left: 5px;
        color: #4a5aab;
        font-size: 13px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.comment-like__section,
.comment-delete {
  cursor: pointer;
  transition: 200ms ease-in-out;

  path {
    fill: #a0baf1;
  }

  &:hover path {
    fill: #6785c3;
  }
}

.comment-like__section {
  span.comment-likes {
    color: #6785c3;
    font-weight: 600;
    font-size: 13px;
  }

  &.no-likes {
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    span.comment-likes {
      display: none;
    }
  }

  &.comment-liked {
    span.comment-likes {
      display: inline;
      color: $color-red-light;
    }

    path {
      fill: $color-red-light;
    }
  }
}

.comment-component.no-likes {
  // span.comment-likes {
  //   display: none;
  // }

  // .comment-like__section {
  //   opacity: 0;
  // }

  // &:hover .comment-like__section {
  //   opacity: 1;
  // }
}

.comment-subcomments {
  &__button {
    font-size: 13px;
    color: #939393;
    margin-top: 3px;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      color: #6b6b6b;
    }
  }
}

.comment-reply {
  &__input {
    width: 100%;
    resize: none;
    line-height: 1.5;
    max-height: 150px;
    border-radius: 4px;
    padding: 7px;
    margin-top: 5px;
  }
}
