@import '../elements/button-upload.scss';
@import '../elements/button-link.scss';
@import '../vars/colors';

.upload-elements {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.upload-section {
  // padding: 20px 0;
  display: flex;
  justify-content: center;
  border: 1px dashed #cdcdcd;
  flex-grow: 1;

  .upload-section__input {
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.upload-media {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-section__description {
  p:first-child {
    font-size: 18px;
    margin-top: 10px;
  }

  p:last-child {
    font-size: 14px;
    color: #767676;
    line-height: 25px;
  }

  label {
    cursor: pointer;
    color: $color-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.icon-upload {
  width: 100px;
  transition: all 0.2s;

  &:hover,
  &:focus {
    fill: $color-blue;
    transform: translateY(-10px) scale(1.05);

    .icon-upload__arrow {
      animation: bounce 0.5s ease-in-out alternate infinite;
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-50px);
  }
}

.upload-section.drag-active {
  border-color: $color-blue;

  .icon-upload {
    @extend .icon-upload:hover;
  }

  .input-upload {
    pointer-events: none;
  }
}

$image-size: 50px;

.images-item {
  position: relative;
  display: grid;
  font-size: 14px;
  line-height: $image-size;
  grid-template-columns: $image-size 1fr auto;
  grid-gap: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid transparent;
  cursor: move;

  &:hover {
    background: #f1f7ff;
  }
}

.images-item__actions > *:not(:last-child) {
  margin-right: 15px;
}

.images-item__picture {
  width: $image-size;
  height: $image-size;
  background-size: $image-size;
  background-position: center;
}

#drop-mask,
.images-drop-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;

  &:active {
    cursor: grabbing;
  }
}

.drag {
  transition: all 0.3s;
  opacity: 0.5;
}

.flip-list-move {
  transition: transform 0.3s;
}
