header {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 1px 12px 0px rgba(210, 210, 210, 0.48);
  border-bottom: 1px solid #c1c1c18c;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 35px;
  height: 35px;
  background-image: url('~static/images/icons/instagram.svg');
  background-repeat: no-repeat;
}

// user auth
ul.auth {
  display: flex;
  font-size: 14px;

  .auth-login {
    margin-right: 14px;
  }
}

.user-avatar {
  margin-right: 10px;
}

.user-section {
  display: flex;
  align-items: center;
}

.header-auth {
  height: 64px;
  font-size: 14px;

  nav {
    height: 100%;
  }
}

.header-menu {
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    transition: background-color 150ms;
    cursor: pointer;
    padding: 0 15px;

    &:hover {
      background-color: #f7f7f7;
    }
  }

  &__break {
    width: 1px;
    height: 30px !important;
    background-color: #eee;
    padding: 0 !important;
  }
}

.header-item__icon {
  margin-right: 10px;

  &_upload {
    width: 18px;
  }
}
