.profile {
  padding: 40px 0;
}

.posts-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.post-modal .modal-content {
  padding: 0 !important;
  border: none !important;
}
