$spinner-size: 45px;

.spinner-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .spinner-icon {
    display: block;
    width: $spinner-size;
    height: $spinner-size;
    background-image: url('~static/images/icons/spinner.svg');
    background-repeat: no-repeat;
    background-size: $spinner-size;
    margin-right: 10px;
  }

  .spinner-text {
    font-size: 20px;
    color: #373737;
  }
}