$spinner-size: 45px;

.spinner-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .spinner-text {
    font-size: 20px;
    color: #373737;
  }
}
