@import '../vars/colors';

.upload-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-next {
  background: $color-blue;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  line-height: 35px;

  &:hover {
    text-decoration: none;
  }
}