
.profile-section {
  display: flex;
  margin-bottom: 50px;
  padding-left: 50px;
}

.profile-section__avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 50px;
}

.profile-section__username {
  font-weight: 500;
  font-size: 22px;
}


.profile-section__user-info div {
  margin-top: 20px;
}

.profile-stats {
  display: flex;
}

.profile-stats > li:not(:last-child) {
  margin-right: 35px;
}

.profile-stats__count {
  font-weight: 500;
}

.profile-settings {
  display: flex;
}

.profile-settings button.btn {
  padding: 5px 15px;
  font-size: 14px;
  transition: all .3s;
}

.profile-settings > *:not(:first-child) {
  margin-left: 25px;
}

.profile-description textarea.default {
  background: none;
  border: none;
  resize: none;
}

.profile.edit button.btn-edit {
  background: #68be77;
  color: white;
}

.profile.edit textarea {
  resize: both;
  height: auto;
}