@import '../vars/colors';

// Button
$button-background-color: #eff3f6;
$button-background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
$button-color: $color-dark;

// Button hover
$button-background-color-hover: #eff3f6;
$button-background-image-hover: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
$button-border-color-hover: rgba(27,31,35,.35);

// Button active
$button-background-color-active: #e9ecef;
$button-background-image-active: none;
$button-border-color-active: rgba(27,31,35,.35);
$button-box-shadow-active: inset 0 .15em .3em rgba(27,31,35,.15);

// Button focus
$button-box-shadow-focus: 0 0 0 .2em rgba(3,102,214,.3);

.btn {
  display: block;
  color: $button-color;
  background-color: $button-background-color;
  background-image: $button-background-image;

  &:hover {
    background-color: $button-background-color-hover;
    background-image: $button-background-image-hover;
    border-color: $button-border-color-hover;
  }

  &:active {
    background-color: $button-background-color-active;
    background-image: $button-background-image-active;
    border-color: $button-border-color-active;
    box-shadow: $button-box-shadow-active;
  }

  &:focus {
    box-shadow: $button-box-shadow-focus;
  }
}