@import '~/assets/scss/vars/_colors';
@import '~/assets/scss/components/form.scss';
@import '~/assets/scss/elements/button/button.btn_loading.scss';
@import '~/assets/scss/elements/button/button.btn_blue.scss';

$form-width: 350px;

section.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form {
  width: $form-width;
  display: flex;
  border: 1px solid #d1d5da;
  border-radius: 4px;
  background: #fff;
}

.auth-form > form {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth-switch {
  width: $form-width;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;

  a {
    color: $color-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

button.btn-signup,
button.btn-login {
  font-size: 15px;
}

#signup-login {
  text-transform: lowercase;
}
