$color-dark:  #24292E;
$color-grey:  #F6F8FA;
$color-blue:  #0366D6;
$color-red:   #cb2431;
$color-green: #269f42;


/* Button */



// Primary button
$primary-button-background-color: #28a745;
$primary-button-background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
$primary-button-color: white;