.disapear-to-center {
  &-enter {
    opacity: 0;
    transform: translateY(-100%);
  }

  &-enter-active {
    transition: all 300ms ease-in-out;
  }

  &-enter-to {
    opacity: 1;
    transform: none;
  }

  &-leave {
    opacity: 1;
  }

  &-leave-active {
    perspective: 100px;
    transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
  }

  &-leave-to {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}
